body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f5f5f5;
}
header{
    background-color:rgb(219, 122, 87);
    color: white;
    padding: 10px 0;
    text-align: left;
}
nav{
    margin: 0;
    justify-content: end;
    text-align: right;
   
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 20px;
}
nav ul li{
    display: inline;
    cursor: pointer;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(44, 29, 2);
    padding: 5px 10px;
}
.products-showcase{
    text-align: center;
    font-size: 25px;

}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);    
}
.image{
    width: 250px;
    height: auto;
    border-radius: 8px;
}
.product-item {
  text-align: left;
  max-width: 400px;
}
.price {
  color: #2c3e50;
  font-weight: bold;
  font-size: 18px;
}

.add-to-cart {
  background-color: rgb(219, 122, 87);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
}